
@{
    ViewData["Title"] = "Register";


}
<style>

    .no-scroll {
        overflow: hidden;
    }

    .radio {
        transition: transform 0.15s ease-in-out, box-shadow ease-in-out;
    }
    .radio:checked {
        box-shadow: 0 0 0 4px #FFFFFF inset; 
        animation: none;
        transform: scale(1.1);
    }

    .radio:focus {
        outline: none; 
    }

</style>

<!-- Container flexível para centralização -->
<div id="mainContainer" class="relative flex min-h-screen items-center custom-lg:justify-end justify-center bg-customGrey-light">

    <!-- Primeiro círculo -->
    <div class="fixed custom-lg:w-61-rem custom-lg:h-61-rem custom-lg:left-minus-133-px w-125-rem h-125-rem bg-green-gradient rounded-full aspect-circle top-minus-323-px"></div>

    <!-- UNP Logo -->
    <div class="fixed custom-sm:bottom-50-px custom-sm:left-150-px custom-sm:z-10">
        <img src="~/lib/images/logo-unp.svg" class="scale-200" />
    </div>

    <!-- Segundo círculo -->
    <div class="fixed custom-lg:w-61-rem custom-lg:h-61-rem custom-lg:left-minus-267-px w-125-rem h-125-rem bg-green-gradient rounded-full aspect-circle top-294-px"></div>

    <!-- Background Color Range -->
    <div id="rangeBackground" class="fixed flex w-32 items-center custom-lg:mr-5 custom-lg:bottom-10-px">
        <i id="moonIcon" class="fa-solid fa-moon fa-xl mr-2" style="color: #000000"></i>
        <input id="colorRange" type="range" min="0" max="100" value="100" class="w-full range range-xs" />
        <i id="sunIcon" class="fa-solid fa-sun fa-xl ml-2" style="color: #000000"></i>
    </div>

    <!-- Formulário de Cadastro (Tipo de Cadastro) -->
    <div class="z-10 custom-sm:w-394-px custom-sm:h-474-px w-360-px rounded-lg-border bg-customGrey-light shadow-login flex flex-col justify-center items-center custom-lg:mr-36">
        <form method="post" class="registration-type-form p-4" onsubmit="return validateForm()">

            <!-- Título "Tipo de Cadastro" -->
            <div class="mb-12 mt-4">
                <h3 class="text-customGreen-light text-center font-poppins font-bold text-4x1 leading-normal">Tipo de Cadastro</h3>
            </div>

            <!-- Opções -->
            <div class="relative">
                <!-- Opção Prefeitura -->
                <div class="w-321-px h-44-px border border-customGreen-default rounded-lg-border p-4 flex items-center mb-6">
                        <label class="label cursor-pointer">
                            <input type="radio" 
                                   name="SelectedRegistrationType"
                                   value="Prefeitura" 
                                   class="radio radio-sucess checked:bg-success radio-sm mr-2" 
                                   />
                            <span class="label-text text-customGreen-default font-poppins text-base leading-normal">Prefeitura</span>
                        </label>
                </div>

                <!-- Opção Usuário -->
                <div class="w-321-px h-44-px border border-customGreen-dark rounded-lg-border p-4 flex items-center mb-6">
                        <label class="label cursor-pointer">
                            <input type="radio"
                                   name="SelectedRegistrationType"
                                   value="Usuario"
                                    class="radio radio-sucess checked:bg-success radio-sm mr-2"
                                   />
                            <span class="label-text text-customGreen-default font-poppins text-base leading-normal">Usuário</span>
                        </label>
                </div>

                <!-- Opção Profissional de sáude -->
                <div class="w-321-px h-44-px border border-customGreen-default rounded-lg-border p-4 flex items-center mb-10">
                        <label class="label cursor-pointer">
                            <input type="radio"
                                   name="SelectedRegistrationType"
                                   value="ProfissionalDeSaude" 
                                   class="radio radio-sucess checked:bg-success radio-sm mr-2"
                                   />
                            <span class="label-text text-customGreen-default font-poppins text-base leading-normal">Profissional de Saúde</span>
                        </label>
                </div>

                <!-- Botão que leva a tela de cadastro (PersonalInfo) -->
                <div class="relative">
                    <button type="submit"
                            class="w-full h-entrar-height-px rounded-lg-border bg-customGreen-default hover:bg-onHoverGreen-on_hover_default text-customGrey-light text-center font-poppins font-normal text-base leading-personalized">
                        Prosseguir
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/js/registration-type.js"></script>
<script src="~/js/colorRange.js"></script>