@model CisReg_Website.Models.ProfessionalInfoModel
@{
    ViewData["Title"] = "Register";
}


<!-- Container flexível para centralização -->
<div id="mainContainer" class="relative flex min-h-screen items-center custom-lg:justify-end justify-center bg-customGrey-light">

    <!-- Primeiro círculo -->
    <div class="fixed custom-lg:w-61-rem custom-lg:h-61-rem custom-lg:left-minus-133-px w-125-rem h-125-rem bg-green-gradient rounded-full aspect-circle top-minus-323-px"></div>

    <!-- UNP Logo -->
    <div class="fixed custom-sm:bottom-50-px custom-sm:left-150-px custom-sm:z-10">
        <img src="~/lib/images/logo-unp.svg" class="scale-200" />
    </div>

    <!-- Segundo círculo -->
    <div class="fixed custom-lg:w-61-rem custom-lg:h-61-rem custom-lg:left-minus-267-px w-125-rem h-125-rem bg-green-gradient rounded-full aspect-circle top-294-px"></div>

    <!-- Background Color Range -->
    <div id="rangeBackground" class="fixed flex w-32 items-center custom-lg:mr-5 custom-lg:bottom-10-px">
        <i id="moonIcon" class="fa-solid fa-moon fa-xl mr-2" style="color: #000000"></i>
        <input id="colorRange" type="range" min="0" max="100" value="100" class="w-full range range-xs" />
        <i id="sunIcon" class="fa-solid fa-sun fa-xl ml-2" style="color: #000000"></i>
    </div>

    <!-- Formulário de Login -->
    <div class="z-10 custom-sm:w-394-px custom-sm:h-auto w-360-px rounded-lg-border bg-customGrey-light shadow-login flex flex-col justify-center items-center custom-lg:mr-36">
        <form method="post" class="register-personal-info-form p-4" autocomplete="off">

            @Html.AntiForgeryToken()

            <!-- Título "Informações Profissionais" -->
            <div class="relative mb-4">
                <h3 class="text-customGreen-light text-center font-poppins font-bold text-4x1 leading-normal">Informações Profissionais</h3>
            </div>

            <!-- Campo "Número de Registro" -->
            <div class="relative mb-3">
                <label for="registro" class="w-full h-22-px text-customGreen-dark text-left font-poppins font-normal text-base leading-personalized mb-2 block">Número de Registro</label>
                <div class="relative">
                    <input type="text"
                           id="registro"
                           name="registerNumber"
                           asp-for="registrationNumber"
                           class="input input-accent w-full h-40-px bg-white text-customGrey-default font-poppins font-normal text-base leading-4"
                           placeholder="CRM-RN 123456"
                           required 
                           />
                </div>
            </div>

            <!-- Campo "Formação Acadêmica" -->
            <div class="relative mb-3">
                <label for="formacao" class="w-full h-22-px text-customGreen-dark text-left font-poppins font-normal text-base leading-personalized mb-2 block">Formação Acadêmica</label>
                <div class="relative">
                    <select id="formacao"
                            name="academicTraining"
                            asp-for="academicTraining"
                            class="select select-accent w-full !h-40-px !bg-white !text-customGrey-default !font-poppins !font-normal !text-base"
                            required>
                        <option value="" disabled selected>Selecione uma formação</option>
                        <option value="Graduação em Medicina">Graduação em Medicina</option>
                        <option value="Residência Médica">Residência Médica</option>
                        <option value="Pós-graduação">Pós-graduação</option>
                        <option value="Mestrado">Mestrado</option>
                        <option value="Doutorado">Doutorado</option>
                    </select>
                </div>
            </div>

            <!-- Campo "Especialidades" -->
            <div class="relative mb-4">
                <label for="especialidade" class="w-full h-22-px text-customGreen-dark text-left font-poppins font-normal text-base leading-personalized mb-2 block">Especialidades</label>
                <div class="relative">
                    <select id="especialidade"
                            name="specialty"
                            asp-for="specialty"
                            class="select select-accent w-full !h-40-px !bg-white !text-customGrey-default !font-poppins !font-normal !text-base"
                            required>
                        <option value="" disabled selected>Selecione uma especialidade</option>
                        <option value="Clínico Geral">Clínico Geral</option>
                        <option value="Anestesiologia">Anestesiologia</option>
                        <option value="Cardiologia">Cardiologia</option>
                        <option value="Dermatologia">Dermatologia</option>
                        <option value="Endocrinologia">Endocrinologia</option>
                        <option value="Gastroenterologia">Gastroenterologia</option>
                        <option value="Geriatria">Geriatria</option>
                        <option value="Ginecologia e Obstetrícia">Ginecologia e Obstetrícia</option>
                        <option value="Hematologia">Hematologia</option>
                        <option value="Infectologia">Infectologia</option>
                        <option value="Neurologia">Neurologia</option>
                        <option value="Oftalmologia">Oftalmologia</option>
                        <option value="Ortopedia">Ortopedia</option>
                        <option value="Otorrinolaringologia">Otorrinolaringologia</option>
                        <option value="Pediatria">Pediatria</option>
                        <option value="Psiquiatria">Psiquiatria</option>
                        <option value="Reumatologia">Reumatologia</option>
                        <option value="Medicina de Família e Comunidade">Medicina de Família e Comunidade</option>
                        <option value="Cirurgia Geral">Cirurgia Geral</option>
                        <option value="Cirurgia Plástica">Cirurgia Plástica</option>
                        <option value="Medicina do Trabalho">Medicina do Trabalho</option>
                        <option value="Medicina Intensiva">Medicina Intensiva</option>
                        <option value="Medicina Paliativa">Medicina Paliativa</option>
                        <option value="Patologia">Patologia</option>
                        <option value="Radiologia">Radiologia</option>
                        <option value="Medicina Esportiva">Medicina Esportiva</option>
                        <option value="Medicina Legal">Medicina Legal</option>
                        <option value="Genética Médica">Genética Médica</option>

                    </select>
                </div>
            </div>

            <!-- Botão para Finalizar Cadastro (para Finalizar Cadastro) -->
            <div class="relative">
                <button type="submit" class="w-full h-entrar-height-px rounded-lg-border bg-customGreen-default hover:bg-onHoverGreen-on_hover_default text-customGrey-light text-center font-poppins font-normal text-base leading-personalized">Realizar Cadastro</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/personal-info.js"></script>
<script src="~/js/colorRange.js"></script>