@model CisReg_Website.Models.ProfessionalInfoModel
@{
    ViewData["Title"] = "Register";
}


<!-- Container flexível para centralização -->
<div class="relative min-h-screen flex items-center custom-lg:justify-end justify-center bg-customGrey-light">

    <!-- Primeiro círculo -->
    <div class="custom-lg:w-61-rem custom-lg:h-61-rem custom-lg:left-minus-133-px w-125-rem h-125-rem bg-green-gradient rounded-full aspect-circle fixed top-minus-323-px"></div>


    <!-- UNP Logo -->
    <div class="custom-sm:bottom-50-px custom-sm:left-150-px custom-sm:z-10 fixed">
        <img src="~/lib/images/logo-unp.svg" class="scale-200" />
    </div>

    <!-- Segundo círculo -->
    <div class="custom-lg:w-61-rem custom-lg:h-61-rem custom-lg:left-minus-267-px w-125-rem h-125-rem bg-green-gradient rounded-full aspect-circle fixed top-294-px"></div>

    <!-- Formulário de Login -->
    <div class="z-10 w-394-px h-712-px rounded-lg-border bg-customGrey-light shadow-login flex flex-col justify-center items-center custom-lg:mr-36">
        <form method="post" class="register-personal-info-form p-4" autocomplete="off">

            @Html.AntiForgeryToken()

            <!-- Título "Informações Profissionais" -->
            <div class="mb-4">
                <h3 class="text-customGreen-light text-center font-poppins font-bold text-4x1 leading-normal">Informações Profissionais</h3>
            </div>

            <!-- Campo "Número de Registro" -->
            <div class="mb-3">
                <label for="registro" class="w-360-px h-22-px text-customGreen-dark text-left font-poppins font-normal text-base leading-personalized mb-2 block">Número de Registro</label>
                <div>
                    <input type="number"
                           id="registro"
                           name="registrationNumber"
                           asp-for="registrationNumber"
                           class="input input-accent w-360-px h-40-px bg-white text-customGrey-default font-poppins font-normal text-base leading-4"
                           placeholder="Insira Aqui"
                           required 
                           />
                </div>
            </div>

            <!-- Campo "Especialidades" -->
            <div class="mb-3">
                <label for="especialidade" class="w-360-px h-22-px text-customGreen-dark text-left font-poppins font-normal text-base leading-personalized mb-2 block">Especialidades</label>
                <div>
                    <input type="text" 
                           id="especialidade"
                           name="specialty"
                           asp-for="specialty"
                           class="input input-accent w-360-px h-40-px bg-white text-customGrey-default font-poppins font-normal text-base leading-4" 
                           placeholder="Insira Aqui" 
                           required />
                </div>
            </div>


            <!-- Campo "Formação Acadêmica" -->
            <div class="mb-4">
                <label for="formacao" class="w-360-px h-22-px text-customGreen-dark text-left font-poppins font-normal text-base leading-personalized mb-2 block">Formação Acadêmica</label>
                <div>
                    <input type="text" 
                           id="formacao"
                           name="academicTraining"
                           asp-for="academicTraining"
                           class="input input-accent w-360-px h-40-px bg-white text-customGrey-default font-poppins font-normal text-base leading-4"
                           placeholder="Insira aqui" 
                           required />
                </div>
            </div>

            <!-- Botão para Finalizar Cadastro (para Finalizar Cadastro) -->
            <div>
                <button type="submit" class="w-full h-entrar-height-px rounded-lg-border bg-customGreen-default hover:bg-onHoverGreen-on_hover_default text-customGrey-light text-center font-poppins font-normal text-base leading-personalized">Realizar Cadastro</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/personal-info.js"></script>