<div class=" min-h-screen bg-customGrey-light font-poppins">
    <!--Cabechalo da página - Nav Inicial -->
    <div class="bg-[#57BE93] text-white p-12" >
        <h2 class="text-4xl font-poppins font-bold">AGENDAMENTOS REALIZADOS</h2>
    </div>

        <div class="absolute right-10 w-3/4 mt-6">
            <!-- Segunda Seção do código, com o a área de pesquisa - personalização do input buscar -->
                <div>
                    <form class="">   
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="search" id="default-search" class="block w-full p-2 ps-10 text-sm border border-gray-300 rounded-lg bg-gray-50   dark:border-[#57BE93] dark:text-black focus:outline-none focus:ring focus:ring-[#57BE93]" placeholder="Pesquisar" required />
                            <button type="submit" class="text-white absolute end-1.5 bottom-1.5 bg-[#57BE93] hover:bg-[#57BE93] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 dark:bg-[#57BE93] dark:hover:bg-[#57BE93]dark:focus:ring-blue-800">Search</button>
                        </div>
                    </form>
                </div>
            <!--Acrescentando os botoes de datas de agendamentos-->
            <div class="flex flex-col gap-2  mt-4 text-white">
                <div class="grid grid-cols-3 gap-4">
                    <button class=" bg-[#57BE93] border-none rounded-lg p-2 hover:bg-emerald-700"> <i class="fa-regular fa-calendar-minus mr-6"></i> Selecionar a data de ínicio</button>
                    <button class=" bg-[#57BE93] border-none rounded-lg p-2 hover:bg-emerald-700"> <i class="fa-regular fa-calendar-plus mr-6"></i> Selecionar a data de final</button>
                    <button class=" border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-lg bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors"> <i class="fa-regular fa-calendar-minus mr-6"></i> Agendamentos de hoje</button>
                </div>
                <!-- Acrescentado o layout dos agendamentos realizados - card com os agendametos-->
                <div class="grid grid-cols-3 gap-4 mt-4">
                    
                    <div class="card w-100 shadow-xl bg-[#57BE93] ">
                        <figure>
                            <img
                            src="~/lib/images/logo-unp.svg"
                            alt="Shoes" />
                        </figure>
                        <div class="card-body">
                            <p class="card-title"> <spam class="font-bold text-5xl">12:30</spam> hoje</p>  
                            <p>Agendamento para Fulano De tal</p>
                            <div class="card-actions mt-1">
                            <div class="badge badge-outline">Dentista</div>
                            <div class="badge badge-outline">Fisioterapeuta</div>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-xl bg-[#57BE93] ">
                        <figure>
                            <img
                            src="~/lib/images/logo-unp.svg"
                            alt="Shoes" />
                        </figure>
                        <div class="card-body">
                            <p class="card-title"> <spam class="font-bold text-5xl">12:30</spam> hoje</p>  
                            <p>Agendamento para Fulano De tal</p>
                            <div class="card-actions mt-1">
                            <div class="badge badge-outline">Dentista</div>
                            <div class="badge badge-outline">Fisioterapeuta</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card w-100 shadow-xl bg-[#57BE93] ">
                        <figure>
                            <img
                            src="~/lib/images/logo-unp.svg"
                            alt="Shoes" />
                        </figure>
                        <div class="card-body">
                            <p class="card-title"> <spam class="font-bold text-5xl">12:30</spam> hoje</p>  
                            <p>Agendamento para Fulano De tal</p>
                            <div class="card-actions mt-1">
                            <div class="badge badge-outline">Dentista</div>
                            <div class="badge badge-outline">Fisioterapeuta</div>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-xl bg-[#57BE93] ">
                        <figure>
                            <img
                            src="~/lib/images/logo-unp.svg"
                            alt="Shoes" />
                        </figure>
                        <div class="card-body">
                            <p class="card-title"> <spam class="font-bold text-5xl">12:30</spam> hoje</p>  
                            <p>Agendamento para Fulano De tal</p>
                            <div class="card-actions mt-1">
                            <div class="badge badge-outline">Dentista</div>
                            <div class="badge badge-outline">Fisioterapeuta</div>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-xl bg-[#57BE93] ">
                        <figure>
                            <img
                            src="~/lib/images/logo-unp.svg"
                            alt="Shoes" />
                        </figure>
                        <div class="card-body">
                            <p class="card-title"> <spam class="font-bold text-5xl">12:30</spam> hoje</p>  
                            <p>Agendamento para Fulano De tal</p>
                            <div class="card-actions mt-1">
                            <div class="badge badge-outline">Dentista</div>
                            <div class="badge badge-outline">Fisioterapeuta</div>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-xl bg-[#57BE93] ">
                        <figure>
                            <img
                            src="~/lib/images/logo-unp.svg"
                            alt="Shoes" />
                        </figure>
                        <div class="card-body">
                            <p class="card-title"> <spam class="font-bold text-5xl">12:30</spam> hoje</p>  
                            <p>Agendamento para Fulano De tal</p>
                            <div class="card-actions mt-1">
                            <div class="badge badge-outline">Dentista</div>
                            <div class="badge badge-outline">Fisioterapeuta</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Criação dos botões para filtrar os horários das cosultas-->
        <div class="grid grid-flow-row pl-10 p-2 gap-4 w-1/5 mt-32 mb-8">
            <div class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-lg bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors"><button> <i class="fa-solid fa-sun mr-4"></i> Manhã  </button></div> 
            <div class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-lg bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors"><button> <i class="fa-regular fa-sun mr-4"></i> Tarde</button></div> 
            <div class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-lg bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors"><button> <i class="fa-solid fa-moon mr-4"></i> Noite</button></div> 
        </div>
        <!--Criação dos botões para seleção de especialistas-->
         <div class="flex flex-wrap gap-2 pl-10 p-2 w-1/5 mt-4 mb-8">
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Psicólogo</button>
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Cardiologista</button>
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Fonoaudiólogo</button>
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Esteticista</button>
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Fisioterapeuta</button>
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Dentista</button>
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Médico</button>
            <button class="border border-[#57BE93] text-[#57BE93] py-2 px-4 rounded-full bg-white hover:bg-[#57BE93] hover:text-white focus:bg-[#57BE93] focus:text-white active:bg-[#57BE93] active:text-white transition-colors">Urologista</button>
        </div>
        <!--Criação do checkbox com as opções de horarios para visualização-->
        <div class="bg-[#57BE93] border rounded-lg p-4 pl-4 ml-6 w-1/5 mt-4">
            <label class="flex items-center space-x-2 mb-4">
                <input type="checkbox" class="form-checkbox h-5 w-5 text-white" checked>
                <span class="text-white font-semibold">Confirmados</span>
            </label>
            <label class="flex items-center space-x-2 mb-4">
                <input type="checkbox" class="form-checkbox h-5 w-5 text-white">
                <span class="text-white font-semibold">Reagendados</span>
            </label>
            <label class="flex items-center space-x-2">
                <input type="checkbox" class="form-checkbox h-5 w-5 text-white">
                <span class="text-white font-semibold">Cancelados</span>
            </label>
        </div>
    
    
</div>

