<div class=" min-h-screen bg-customGrey-light font-poppins">
    <!--Cabechalo da página - Nav Inicial -->
    <div class="bg-[#57BE93] text-white p-12" >
        <h2 class="text-4xl font-poppins font-bold">AGENDAMENTOS REALIZADOS</h2>
    </div>
    
      <div>
         <!-- Segunda Seção do código, com o a área de pesquisa - personalização do input buscar -->
        <form class="p-4">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="absolute right-10 w-3/4">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-2 ps-10 text-sm border border-gray-300 rounded-lg bg-gray-50 dark:bg-white dark:border-[#57BE93] dark:placeholder-gray-400 cursor-pointer focus:outline-none" placeholder="Pesquisar" required />
                <button type="submit" class=" gap-20 text-white absolute end-1.5 bottom-1.5 bg-[#57BE93] hover:bg-[#57BE93] focus:ring-4 focus:outline-none focus:ring-[#57BE93] font-medium rounded-lg text-sm px-2.5 py-1 dark:[#57BE93] dark:hover:bg-[#57BE93] dark:focus:ring-[#57BE93]">Buscar</button>
            </div>
        </form>
            <!--Acrescentando os layouts de datas de agendamentos-->
        <div class="grid grid-cols-3 gap-4 absolute right-10 w-3/4 mt-10 text-white">
            <button class="fa-regular fa-calendar-plus bg-[#57BE93] border-none rounded-lg p-2 hover:bg-emerald-700">Selecionar a data de ínicio</button>
            <button class="fa-regular fa-calendar-minus bg-[#57BE93] border-none rounded-lg p-2 hover:bg-emerald-700">Selecionar a data de final</button>
            <button class="fa-regular fa-calendar-minus bg-white border border-[#57BE93] text-[#57BE93] rounded-lg p-2 hover:bg-emerald-700">Agendamentos de hoje</button>
        </div>
    </div>
    
    
   

</div>

