<div class=" min-h-screen bg-customGrey-light">
    <div class="bg-[#57BE93] text-white p-12" >
        <h2 class="text-4xl font-poppins font-bold">AGENDAMENTOS REALIZADOS</h2>
    </div>

    <div>
        
    </div>
</div>

